h1,p {
    font-family: 'Cinzel', serif;
}

img{
    box-shadow: 10px 10px 5px rgb(207, 197, 197);    
    height: 250px;
    width: 250px; 
    border-radius: 5px;
    float: right;
    margin-right: 25%;
}