html{
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
}

#navName{
    color: rgb(221,188,152);
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.2em;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* font-weight: 3000; */
    font-style: normal;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-align: center;
    font-size: 96px;
    line-height: 700px;
    position: absolute;
    z-index: 100;
  
}

#home{
    color: white;
}

.navbar-default {
    background-color: black;
    background-image: none;
    background-repeat: no-repeat;
   }

   .navbar-nav li a {
    /* in here move navbar items to evenly cover entire screen */

}

.tiledBackground {
    background-image: url('images/robel.jpg');
    background-size: 350px;
    width: 1300px;
    height: 1300px;
    border: 2px solid;
    color: black;
    top: 0px;
   
  }


img{
   
    height: 600px;
    width: 700px; 
    border-radius: 5px;
    float: right;
   
}